body {
    font-family: Verdana, Arial, sans-serif;
}

.imag {
    width: 100%;
    max-width: 100%;
}

.up {
    display: inline-block;
}

.links {
    color: #ef671d;
}





#footer {
    background-color: black;
    height: 100px;
    color: yellow;
}

#p-footer {
    position: relative;
    top: 40%;
    left: 40%;
}